@model List<Dominio.EntidadesDto.MovimientoDto>


<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.3/b-colvis-1.6.3/b-html5-1.6.3/b-print-1.6.3/datatables.min.js"></script>


<div class="row">
    <div class=" col-md-12">


        <div id="contentMovimientos" class="box-body box-profile animated fadeIn" style="padding: 10px 20px 10px 20px">
            <table id="tablaCuentaPersonal" class="table table-hover dataTable" style="border: 1px solid #dddddd;" role="grid">
                <button onclick="ShowFormMovimiento()" class="pull-right btn bg-olive grow">
                    <i class="fa fa-refresh"></i>
                    Nuevo Movimiento
                </button>
                <thead>
                    <tr class="bg-olive">
                        <th class="text-center">
                            Fecha
                        </th>
                        <th class="text-center">
                            Tipo Movimiento
                        </th>
                        <th class="text-center">
                            Concepto
                        </th>
                        <th class="text-center">
                            Monto
                        </th>
                        
                        <th class="text-center">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var colorTexto = item.TipoMovimiento.Equals("GASTOS") ? "text-red" : "text-success";
                        <tr class="@colorTexto">
                            <td class="text-justify">
                                @item.FechaMovimiento.Value.ToString("dd/MM/yyyy hh:mm tt")
                            </td>
                            <td class="text-justify">
                                @item.TipoMovimiento
                            </td>                           
                            <td class="text-justify">
                                @item.Concepto
                            </td>
                            <td class="text-justify">
                               @item.MontoFormato
                            </td>
                            
                            <td style="width: 15em;" class="text-right">
                                <a class="btn btn-flat bg-olive shadow grow btn-sp btnaccion" onclick="ShowFormMovimiento('@item.MovimientoId')" data-toggle="tooltip" data-html="true" data-placement="left" title="Editar Información">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-flat btn-danger shadow grow btn-sp btnaccion" onclick="ConfirmarEliminado(_EliminarMovimiento, @item.MovimientoId)" data-toggle="tooltip" data-html="true" data-placement="left" title="Eliminar">
                                    <i class="fa fa-remove"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>

<script>
    $(function () {
        EstiloTablaCuenta('#tablaCuentaPersonal');

    });
    function EstiloTablaCuenta(Tabla) {
        $(Tabla).DataTable({
            "dom": '<"pull-left"f>t<"mgt-12"<"pull-left"p><"pull-right"i>>',
            "paging": true,
            "lengthMenu": [[15, 20, 25, -1], [15, 20, 25, "Todos"]],
            "searching": true,
            "order": [],
            "info": true,
            "autoWidth": false,
            "scrollX": true,
            "stateSave": false,            
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                "infoFiltered": "(Filtrado de _MAX_ total registros)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registros",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        })
    }
</script>